body{
  min-width: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex-grow: 1;
}

.fuente-nav {
  font-family: 'Russo One', sans-serif;
  color: aliceblue;
}

.img-carrousel{
  height: 500px;
  object-fit: cover;
}

.IconHand{
  color: red;
  }

.iconFace{
  color: blue;
}

.iconBillete{
  color: rgb(24, 169, 24);
}

.iconPuzzle{
  color: rgb(161, 16, 161);
}

.img-iphone{
  height: 500px;
}

.titulo-factores-seguridad{
  font-family: 'Russo One', sans-serif;
}